* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background-image: url(../media/11.jpg);
    background-size: cover;
    margin: 0;
    font-family: 'cairo', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
.contain {
    height: 100dvh;
    width: 100%;
    background-color: #14213D99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contain .login {
    width: clamp(400px, 600px, 90%);
    height: 600px;
    background-color: #00000099;
    border-radius: 15px;
    padding-top: 45px;
}
.contain .login form .text {
    padding-bottom: 20px;
}
.contain .login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.contain .login form .in {
    margin: 10px;
    width: 90%;
    height: 50px;
    outline: none;
    margin-top: 45px;
    background-color: #FCA311;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
}
input {
    width: 90%;
    padding: 15px;
    outline: none;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 10px;
}
label {
    margin: 20px;
}